.upload-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 15px;
  background: #000000;
  padding: 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-input {
  padding: 10px;
  border: 2px dashed #007bff;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.thumbnails-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;

}

.upload-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.upload-button:disabled {
  background: gray;
  cursor: not-allowed;
}

.upload-button:hover:not(:disabled) {
  background: #0056b3;
}


input[type="file"] {
  display: none;
}

.choose-file-button{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background: #000000;
  color: rgb(255, 255, 255);
  border: solid;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 245px;
  width: 220px;
  border-color: #fff;
}

/* Hover effects */
.choose-file-button:hover {
  border-color: rgb(255, 219, 99);
  box-shadow: 3px 3px 10px rgb(255, 219, 99);
  background: rgba(255, 255, 0, 0.2);
}


.generate-button-container{
  display: flex;
  justify-content: center;
}

.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}