.upload-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 15px;
  background: #000000;
  padding: 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-input {
  padding: 10px;
  border: 2px dashed #007bff;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.thumbnails-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;

}

.upload-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.upload-button:disabled {
  background: gray;
  cursor: not-allowed;
}

.upload-button:hover:not(:disabled) {
  background: #0056b3;
}


input[type="file"] {
  display: none;
}

.choose-file-button{
  height: 245px;
  width: 220px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background: #000000;
  color: rgb(255, 255, 255);
  border: solid;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-color: #fff;
}

.choose-file-button:hover {
  border-color: #ffdb63;
  box-shadow: 3px 3px 10px rgb(255, 219, 99);
  background: rgba(255, 255, 0, 0.2);
  color: rgb(255, 219, 99);
}

.choose-file-button svg {
  transition: stroke 0.3s ease-in-out;
  stroke: #fff;
}

.choose-file-button:hover svg {
  stroke: rgb(255, 219, 99);
  opacity: 1;
}


.generate-button-container{
  display: flex;
  justify-content: center;
}

.drag-handle {
  display: flex;
  background-color:rgb(236, 205, 103);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  cursor: move;
  margin-bottom: 3px;
  box-shadow: 3px 3px 6px rgba(255, 197, 39, 0.596);
  width: 220px
}